{{page-title "Dummy"}}

<h2 id="title">Linkify</h2>

<Textarea @value={{this.text}} aria-label="Enter text to linkify" placeholder="Enter some text with a url"s /> <br>
{{linkify this.text}}

{{outlet}}
